@font-face {
  font-family: 'MGS';
  src: url('./assets/fonts/METAG___.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tactical';
  src: url('./assets/fonts/Tactical\ Espionage\ Action.woff') format('woff');
}

@font-face {
  font-family: 'Digital';
  src: url('./assets/fonts/Digital7-rg1mL.woff') format('woff');
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  /* background-color: black; */

}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*--------------------------------------------------------------------*/
.title-screen {
  display: grid;
  grid-template-rows: 10rem, 1fr, 2rem;
  justify-items: center;

}

#top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub-title {
  font-family: 'Tactical';
  font-size: 1.5rem;
  margin-bottom: -1.5rem;
}

#title {
  font-family: 'MGS';
  font-size: 6rem;
}

#space {
  height: 70vh;
}

#message {
  margin-top: -8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  grid-row: 3;

}

/*--------------------------------------------------------------------*/
.in-game-screen {
  display: grid;
  /* grid-template-columns: 1fr 1.5fr 1fr; */
  grid-template-rows: 1fr 1.5fr;
}

#gameboard-container {
  grid-column: span 3;
  grid-row: 2;
  background-color: black;
}

#codec-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-column: span 3;
  grid-row: 1;
}

#player-pic {
  grid-column: 1;
  grid-row: 1;
  background-color: green;
  height: 100%;
  width: 100%;
}

#enemy-pic {
  grid-column: 3;
  grid-row: 1;
  background-color: green;
}

/*--------------------------------------------------------------------*/