@font-face {
  font-family: 'MGS';
  src: url('./assets/fonts/METAG___.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tactical';
  src: url('./assets/fonts/Tactical\ Espionage\ Action.woff') format('woff');
}

@font-face {
  font-family: 'Digital';
  src: url('./assets/fonts/Digital7-rg1mL.woff') format('woff');
}

@font-face {
  font-family: 'Codec';
  font-stretch: ultra-expanded;

  src: url('./assets/fonts/codec.woff') format('woff');
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  /* background-color: black; */

}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*--------------------------------------------------------------------*/
.title-screen {
  display: grid;
  grid-template-rows: 10rem, 1fr, 2rem;
  justify-items: center;
  background-image: url('./assets/images/1.jpeg');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  background-color: black;
}

#top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebc295;
  opacity: .9;
  margin-top: 2rem;

}

#sub-title {
  font-family: 'Tactical';
  font-size: 1.5rem;
  margin-bottom: -1.5rem;

}

#title {
  font-family: 'MGS';
  font-size: 6rem;

}

#space {
  height: 70vh;
}

#message {
  margin-top: -4rem;
  font-family: 'Codec';
  font-size: 3rem;
  grid-row: 3;
  color: #ff0015;
  transform: scaleY(0.5);
  transform-origin: 0 0;


}

/*--------------------------------------------------------------------*/
.in-game-screen {
  display: grid;
  /* grid-template-columns: 1fr 1.5fr 1fr; */
  grid-template-rows: 1fr 1.5fr;
}

#gameboard-container {
  grid-column: span 3;
  grid-row: 2;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#codec-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-column: span 3;
  grid-row: 1;
  cursor: default;
}

#player-pic {
  grid-column: 1;
  grid-row: 1;
  background-color: black;
  background-image: url('./assets/characters/Solid\ Snake_1.png');
  /*temp img. will be controlled by JS*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#enemy-pic {
  grid-column: 3;
  grid-row: 1;
  background-color: black;
  background-image: url('./assets/characters/Mei\ Ling.png');
  /*temp img. will be controlled by JS*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;



}

#frequency-container {
  background-color: black;
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-columns: 1fr;
}

#freq-header,
#freq-footer {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'Codec';
  font-size: 2.5rem;
  color: #88F0C0;
  border-top: 3px #101818 solid;
  border-bottom: 3px #101818 solid;

}

#freq-header {
  grid-row: 1;
}

#freq-header-text,
#freq-footer-text {
  transform: scaleY(0.5);
  transform-origin: 0 0;
  margin-bottom: -2rem;

  background-color: #101818;
  width: 12rem;
  line-height: 3.5rem;
  text-align: center;
}

#freq-middle {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr;
}

#fq-mid-container {
  grid-column: 2;
  margin: 1.5rem 0 1.5rem 0;
  border-top: 3px #1F3029 solid;
  border-bottom: 3px #1F3029 solid;

  display: flex;
  justify-content: center;
  align-items: center;

}

#freq-screen {
  position: relative;
  background-color: #0F1818;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(9, 1fr);
  gap: 4px;
}

.freq-bar {
  background-color: #284038;
}

.active {
  background-color: #88F0C0;
}

#freq-coord-container {
  position: absolute;

  background-color: #101818;
  right: 1rem;
  bottom: 1rem;

  height: 73%;
  width: 73%;

  border-radius: 95% 0 0 0;

  display: flex;
  justify-content: end;
  align-items: end;

}

#coord {
  font-family: 'Digital';
  color: #88F0C0;
  font-size: 12vh;
  margin-bottom: -28px;
}

#fq-left-container,
#fq-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fq-left-container {
  grid-column: 1;
}

#fq-right-container {
  grid-column: 3;

}

#fq-left-arrow,
#fq-right-arrow {
  font-size: 2rem;
  line-height: 2.6rem;
  width: 6rem;
  height: 2.3rem;
  text-align: center;

  color: #284038;
  background-color: #101818;
}

#fq-left-arrow {
  /*temp, this will be controlled by JS*/
  color: #88F0C0;

}


#freq-footer {
  grid-row: 3;
  color: #284038;
}


.board {
  height: 20rem;
  width: 20rem;
  background-color: #1F3029;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-top: 3rem;
  border: 2px solid #1F3029;
  gap: 2px;
  cursor: crosshair;
}

.pixel {
  background-color: #101818;

}

.pixel:hover {
  background-color: #284038;
}

.pixel:active {
  background-color: #88F0C0;
}

/*pixels that are missed coords will be crossed out*/
.miss {
  background-image: url('./assets/symbols/cross.svg');
  background-repeat: no-repeat;
  background-size: 3.5rem;
  background-position: center;
  background-color: #284038;
}

.hit {
  background-color: #88F0C0;

}

.hit:hover {
  background-color: #88F0C0;

}

/*input of renderGameBoard()*/
.player {
  justify-self: right;
  margin-right: 6.8rem;
}

/*input of renderGameBoard()*/
.computer {
  justify-self: left;
  margin-left: 6.8rem;


}

/*--------------------------------------------------------------------*/






/*------------------------------CRT EFFECT-----------------------------*/

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.84693;
  }

  45% {
    opacity: 0.96019;
  }

  50% {
    opacity: 0.08594;
  }

  55% {
    opacity: 0.20313;
  }

  60% {
    opacity: 0.71988;
  }

  65% {
    opacity: 0.53455;
  }

  70% {
    opacity: 0.37288;
  }

  75% {
    opacity: 0.71428;
  }

  80% {
    opacity: 0.70419;
  }

  85% {
    opacity: 0.7003;
  }

  90% {
    opacity: 0.36108;
  }

  95% {
    opacity: 0.24387;
  }

  100% {
    opacity: 0.27861;
  }
}

#crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

#crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06));
  z-index: 5;
  pointer-events: none;
  background-size: 100% 3px, 4px 100%;
}